
@{
    ViewData["Title"] = "abc";
}

<h3>abc</h3>


<button class="btn-success rounded" id="TestBtn">Test</button>

<input class="form-control" id="first" />

<input class="form-control" id="second" />
